@import "../../styles/variables.scss";

.addNew {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);

  .modal {
    padding: 50px;
    border-radius: 10px;
    background: $main-bg;
    position: relative;

    h2 {
      margin-bottom: 40px;
      font-size: 24px;
      color: $soft-color;
    }

    .closeModal {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
      justify-content: space-between;

      .item {
        width: 48%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        label {
          font-size: 14px;
        }

        input {
          padding: 10px;
          background: transparent;
          outline: none;
          color: white;
          border: 1px solid $soft-color;
          border-radius: 8px;
        }
      }
    }
    button {
      width: 100%;
      padding: 10px;
      cursor: pointer;
    }
  }
}
